@import "base/colors";
@import "base/reset";
@import "abstract/mixins";

$cloud-size: 200px;
$color-sun: $color-sun;

body {
  background-image: url("../Parcijalni_ispit/img/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $cloud-size;
  height: $cloud-size;
  background-color: $color-sun;
  border-radius: 50%;
  z-index: 1;
  animation: sunAnimation 3.6s linear;
}

@keyframes sunAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
}

.cloud {
  position: absolute;
  width: $cloud-size;
  height: $cloud-size;
  background-image: url("../Parcijalni_ispit/img/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  animation: cloudAnimation 3.9s infinite;
}

@keyframes cloudAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.cloud1 {
  top: 20%;
  left: 30%;
  animation-delay: 1.1s;
}

.cloud2 {
  top: 40%;
  left: 60%;
  animation-delay: 2.7s;
}

.cloud3 {
  top: 60%;
  left: 10%;
  animation-delay: 3.9s;
}

@media (max-width: 767px) {
  .cloud {
    width: $cloud-size;
    height: $cloud-size;
  }

  .cloud1,
  .cloud2,
  .cloud3 {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .cloud2 {
    left: 50%;
  }

  .cloud3 {
    display: none;
  }
}

@media (max-width: 479px) {
  .cloud {
    display: none;
  }

  .cloud1 {
    display: block;
  }
}
