body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}
div.div-1 {
  background-color: #eee;
  border: 20px solid #999;
  height: 800px;
  width: 800px;
  position: relative;
  margin: 2em auto;
}

div.div-2 {
  background-color: #f66;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
}

div.div-3 {
  background-color: #69f;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
}

/*   5. Kreirati datoteku style.css sa slijedećim pravilima

	<body> 
  		font-family: Tahoma, sans-serif;
  		font-size: 16px;
  		color: #333;
  		margin: 0;

	<div> koji je dijete od <body>
		background-color: #eee;
  		border: 20px solid #999;
  		height: 800px;
  		margin: 2em auto;
  		width: 800px;


	<div> koji zadnje dijete od <div>
  		background: #69f;
  		margin-left: auto;
  		margin-right: 0;

	<div> koji je prvo dijete od <div>
  		background: #f66;   */
