* {
    margin: 0;
    box-sizing: border-box;
 }
 body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url(banner.jpeg);
    font-size: 16px;
    margin-top: 1.5em;
 }
 
 nav a:link, a:visited {
    color: black;
 }
 a:active {
    color: blue;
 }
 
 header {
    height: 23vh;
 }
 #logo {
    font-size: 2.5em;
    display: inline-block;
    width: 50%;
    padding-left: 7.5em;
 }
 nav {
    font-size: 1.5em;
    display: inline-block;
    font-family: sans;
    font-weight: bold;
 }
 
 nav a {
    padding-right: 0.8em;
 }
 
 main {
    text-align: center;
 }
 
 h1 {
    font-size: 4em;
    color: blue;
    font-weight: bold;
    margin-bottom: 0.5em;
 }
 #CSS {
    font-family: lato;
    color: black;
    font-size: 2em;
    margin-bottom: 2em;
 }
 
 #started {
    font-family: lato;
    color: black;
    font-size: 1.2em;
 }
 
 #sub {
    font-family: lato;
    color: red;
    font-size: 1.2em;
    padding-left: 0.8em;
 }
 
 #us {
    margin-bottom: 8.5em;
 }
 
 div {
    font-family: sans-serif;
    color: green;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 4em;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: inline-block;
    width: 20vw;
 }
 
 #port {
    margin: 0.8em auto;
 }
 
 figure {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 55vw;
    margin: 1em auto;
 }
 
 figure img {
    width: 30%;
    margin-bottom: 2em;
    margin-right: 2em;
 }
 
 h4 {
    font-family: lato;
    color: black;
    font-size: 1.4em;
    margin-bottom: 10em;
 }
 
 #contact {
    font-family: sans-serif;
    color: blue;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 2em;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: inline-block;
    width: 20vw;
    padding: 0.8em;
 }
 
 table {
    text-align: center;
    border: 1px solid grey;
    padding: 1em;
    margin: 4em auto;
 }
 td, th {
    text-align: center;
    border: 1px solid grey;
    padding: 0.5em;
 }
 
 footer {
    height: 18vh;
    text-align: center;
    font-family: sans-serif;
 }
 
 #logo2 {
    font-size: 3.7em;
    margin: 0.5em  auto;
    border-top: 3px solid black;
    width: 100%;
    padding-top: 0.4em;
 }
 #red {
    color: red;
 }
 
 #end {
    font-size: 1.5em;
 }