*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	color: #333;
	text-align: center;
}

section {
	border: 1px solid #ccc;
	margin: auto;
	width: 400px;
}

section div {
	background-color: #f93;
	border: 1px solid #333;
	font-size: 2em;
	line-height: 150px;
	width: 400px;
	height: 150px;
	margin: 4em auto;
	text-align: center;
}

.box-1 {
	transition: width 1.5s linear, background-color 1s ease-out;
}
.box-1:hover {
	width: 650px;
	background-color: #8cc;
}
.box-2 {
	transition: transform 2s ease-in-out;
}
.box-2:hover {
	transform: rotate(360deg) scale(1.5);
}
.box-3 {
	transition: transform 1s linear;
}
.box-3:hover {
	transform: translateX(400px) rotate(90deg);
}
.box-4 {
	transition: transform 2.5s ease-in 2s, background-color 1s linear,
		height 0.5s ease-out 1s;
}
.box-4:hover {
	height: 200px;
	background-color: yellow;
	transform: translateY(200px);
}
