* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  text-align: center;
}

div {
  background-color: #f93;
  border: 4px solid #333;
  border-radius: 100%;
  font-size: 2em;
  line-height: 145px;
  width: 150px;
  height: 150px;
  margin: 0 auto 2em 0;
  text-align: center;
  position: relative;
}


@keyframes animacija1 {
  0% {
    left: 0;
  }
  100% {
    left: 1000px;
    background: yellow;
  }
}

div:first-of-type {
  animation: animacija1 2s linear;
}


@keyframes animacija2 {
  0% {
  left: 0;
   transform: rotate(0deg);
  }
  50% {
  left: 1000px;
  transform: rotate(180deg);
  }
  100% {
   left: 0;
  transform: rotate(0deg);
  }
}

div:nth-of-type(2) {
animation: animacija2 2s ease-in-out;
}



@keyframes animacija3 {
  0% {
  left: 0;
   transform: rotate(0deg);
  }
  50% {
  left: 1000px;
  transform: rotate(360deg);
  }
  100% {
  left: 0;
  transform: rotate(0deg);
  }
}

div:nth-of-type(3) {
animation: animacija3 2s ease-in-out 2s;
}

@keyframes animacija4 {
  0% {
  left: 0;
  }

  50% {
  left: 80%;
  }

  100% {
  left: 0;
  }
}

div:nth-of-type(4) {
animation: animacija4 4s ease-in-out 2s infinite;
}

@keyframes animacija5 {
  0% {
  left: 0;
  }

  100% {
  left: 80%;
  }
}
div:nth-of-type(5) {
animation: animacija5 4s ease-in 2s 2 alternate;
}

@keyframes animacija6 {
  0% {
  left: 0;
  background: red;
  }

  100% {
  left: 80%;
  }
}

div:nth-of-type(6) {
animation: animacija6 4s ease-in 2s backwards;
}


@keyframes animacija7 {
  0% {
  left: 0;
  }

  50% {
  left: 80%;
  }

  100% {
  left: 0;
  }
}
div:nth-of-type(7) {
animation: animacija7 10s ease-in-out infinite;
}

div:nth-of-type(7):hover {
animation-play-state: paused;
}
