@import "abstracts/mixins";
@import "base/reset";
@import "base/colors";

$delay1: 1.1s;
$delay2: 2.7s;
$delay3: 3.9s;

  body {
    background-image: url(back.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
  }

 main {
    height: 300px;
    width: 300px;
    margin-top: 4vh;
    margin-left: 45vw;
 } 
  
  .sun {
    @include sun;
    background-color: $color1;
}

  .flex-container {
    @include flex;
    position: absolute;
  }

  .flex-item {
    width: 33%;
  } 


@media (max-width: 767px) {
     header {
        flex-basis: 33%;
     }
    
       }

@media (max-width: 479px) {
    .first, .second  {
           display: none;
        }
      }
@media (max-width:767px) {
  .sun {
    height: 100px;
    width: 100px;
  }
}


@keyframes animacija1 {
    0% {
        transform: translateX(0%);
      }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
      }
    }


.flex-item:first-of-type {
    animation: animacija1 3.9s linear $delay1 infinite;
}

.flex-item:nth-of-type(2) {
    animation: animacija1 3.9s linear $delay2 infinite;
}

.flex-item:last-of-type {
    animation: animacija1 3.9s linear $delay3 infinite;
}

@keyframes animacija2 {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
      }
    }

.sun {
    animation: animacija2 3.6s linear;
}

footer {
  text-align: center;
  margin-top: 20vh;
  margin-left: 45vw;
  color: $color2;
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
}


