* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

section {
    border:  1px solid #ccc;
    margin: auto;
    width: 400px;
}

div {
    height: 150px; /* -visina div elementa */
    width: 300px; /* -širina div elementa */
    background-color: #f93; /* -tamnije narančasta boja div elementa */
    border: 1px solid #333;
    font-size: 2em;
    text-align: center; /* -horizontalno poravnavanje texta */
    line-height: 150px; /* -vertikalno poravnavanje texta */
    margin: 4em auto;
}

div:first-child {
    transform: translate(-400px, 0);
}

div:nth-child(2) {
    transform: translate(0, -278px);
}

div:nth-child(3) {
    transform: translate(400px, -556px);
}

div:nth-child(4) {
    transform: rotate(180deg) translate(400px, 556px);
}

div:nth-child(5) {
    transform: translate(0, -834px) skew(15deg, 10deg);
}

div:nth-child(6) {
    transform: translate(400px, -1112px) rotate(45deg) skew(45deg, 5deg);
}