@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

#root {
  align-items: center;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 50vh; 
}

.App {
  text-align: center;
}

