* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer,
main,
section,
article,
aside {
  border: 1px solid #ccc;
  padding: 1em;
}
header,
footer {
  background: #ccc;
  height: 10vh;
}
main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 80vh;
}
aside {
  flex-basis: 32%;
}
section {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
  flex-wrap: wrap;
  justify-content: space-between;

  align-content: space-between;
}

article {
  flex-basis: 24%;
  width: 49%;
}
