body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
  height: 600px;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  width: 30%;
  margin: 1em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
