body {
   font-family: Tahoma, sans-serif;
   font-size: 16px;
   color: #333;
   margin: 0;
}
ul {
   border: 1px solid #ccc;
   list-style: none;  /*eliminira bullets na početku neuređene liste*/
   padding: 1em;
}

li {
   background-color: #ffc;
   display: inline-block;
   width: 19%;
}
p {
   border: 1px solid #ccc;
   display: inline-block;
   width: 23%;
   margin-left: -4px; /*eliminira razmak između okvira paragrafa*/
   padding: 5px;
}