* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    padding: 1em;
    height: 50vh;
}
.wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item {
    flex-basis: 24%;
    width: 100px;
    margin-bottom: 2%;
}