* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  text-align: center;
}

/* box */

div {
  background-color: #f93;
  border: 1px solid #333;
  font-size: 2em;
  line-height: 150px;
  width: 400px;
  height: 150px;
  margin: 0 auto 2em;
  text-align: center;
}
div:first-of-type:hover{
  width: 1.5s linear;
  transition: background-color 1s ease, transform 0.5 ease-in-out;
  transform: 650px;
  background-color: #8cc;


}
