body {
  background-color: #eee;
  color: #333;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
}

header,
footer {
  background-color: #333;
  color: #eee;
}

header {
  text-align: center;
}
header h1 {
  color: #800;
}
header p {
  font-size: 20px;
}
header a {
  color: #ff6;
}

section h1 {
  font-family: "Courier New", Courier, monospace;
}
section p {
  text-align: justify;
}
section a {
  color: #800;
}
section article {
  background-color: #800;
}
section article p {
  color: #eee;
}
section article a {
  color: #fff;
}

footer h1 {
  color: #ff6;
}
footer p {
  font-size: 12px;
}
footer a {
  color: #0f0;
  font-size: 20px;
}