* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .wrapper {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
    flex: 0 100%;
    height: 100px;
    margin-bottom: 2%;
  }
  
  @media (min-width: 480px) {
    .wrapper div {
      flex: 0 49%;
    }
  }
  
  @media (min-width: 768px) {
    .wrapper div {
      flex: 0 32%;
    }
  }
  
  @media (min-width: 1024px) {
    .wrapper div {
      flex: 0 24%;
    }
  }
  
  @media (min-width: 1200px) {
    .wrapper div {
      flex: 0 19%;
    }
  }
  