*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.wrapper {
	border: 1px dashed #666;
	height: 50vh;
	padding: 1em;
}

.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-item {
	background-color: #eee;
	text-align: center;
	border: 1px solid black;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-preferred-size: 23%;
	flex-basis: 23%;
	height: 20%;
	padding: 1em;
	margin-inline: 0.25em;
	margin-bottom: 0.5em;
}
