@import "abstracts/mixins";
@import "base/reset";
@import "base/colors";

$delay1: 1.1s;
$delay2: 2.7s;
$delay3: 3.9s;

@keyframes animacija_oblak {
    0% {
        transform: translateX(0%);
      }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
      }
}

.cloud:first-of-type {
    animation: animacija_oblak 3.9s linear $delay1 infinite;
}

.cloud:nth-of-type(2) {
    animation: animacija_oblak 3.9s linear $delay2 infinite;
}

.cloud:last-of-type {
    animation: animacija_oblak 3.9s linear $delay3 infinite;
}

@keyframes animacija_sunce {
    0% {
        background-color: rgb(173, 173, 18);
    }
}

#circle {
    margin: 3em auto;
    z-index: 1;
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
    background-color: $color1;
    box-shadow: 0 0 30px $color3;
    animation: animacija_sunce 3.6s linear;
}

.flex-container {
    @include flex;
}

.oblaci {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    margin-top: 4em;
    img {
        width: 100%;
    }
}


body {
  background: url(img/back.jpeg) center center/cover no-repeat fixed; 
}

footer p {
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: $color2;
    position: fixed;
    bottom: 20px;
    right: 0;
    opacity: 0.7;
}

@media (max-width: 479px) {
    .cloud:nth-of-type(2), .cloud:last-of-type {
    display: none;
    }
    .cloud:nth-of-type(1) {
        width: 50%;
    }
}
 