$color1: #333;
$color2: rgb(245, 193, 96);
$color3: white;
$color4: rgb(46, 41, 41); 
$color5: rgb(28, 25, 25);


* {
   margin:0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: $color4;
}

header {
   background-color: $color5;
   color: $color2;
 
   p {
      text-align: left;
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
   }
}

li {
   display: inline;
}

.flex.container1 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

main {
   text-align: center;
   justify-content: space-between;
   h1 {
      text-align: center;
   }
}

