body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div {
  background-color: rgb(150, 150, 0);
  margin: 1em auto;
  padding: 1em;
  width: 25%;
}
div:first-child {
  animation: fade 2s ease-in-out infinite;
}
div:nth-child(2) {
  animation: fade 4s linear 2s infinite ;
}
div:nth-child(3) {
  animation: fade 0.5s ease-in  infinite;
}
div:nth-child(4) {
  transition: background-color 0.5s ease;
}
div:nth-child(4):hover {
  background-color: rgb(150, 0, 0);
}
div:nth-child(5) {
  transition: width 1s ease;
}
div:nth-child(5):hover {
  width: 80%;
}
div:nth-child(6) {
  transition: transform 1s ease-out;
}
div:nth-child(6):hover {
  transform: translate(150px, 0);
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}