* {
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    text-align: center;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container div {
    border: 1px solid #666;
    background-color: #eee;
    /* flex-basis: 30%; */
    width: 32%; 
    height: 100px;
    padding: 1em;
    margin-bottom: 1%; 
}
