@import "abstract/mixins";
@import "base/reset";
@import "base/colors";

body {
    background-image: url(./img/back.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

 footer {
	text-align: center;
	margin-top: 60vh;
	margin-left: auto;
	margin-right: auto;
	color: $color2;
	font-family: Tahoma, sans-serif;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
  }

  .oblaci {
	@include flex;
	margin-top: 10%;
  }

  img {
	height: 200px;
	width: 400px;
  }
  
  .flex-container {
	text-align: center;
  }
  .sunce {
	@include sunce;
	background-color: $color1;
	z-index: -1;
	position: absolute;
	top: 5%;
	left: 45%;
	
  }
  
  .flex-container {
	text-align: center;
  }
  footer {
	position: fixed;
	bottom: 5%;
	left: 0;
	width: 100%;

  }
  .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
  }

  	$delay1: 1.1s;
	$delay2: 2.7s;
	$delay3: 3.9s;

  @keyframes animacija1 {
    0% {
        transform: translateX(0%);
      }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
      }
    }


img:first-of-type {
    animation: animacija1 3.9s linear $delay1 infinite;
}

img:nth-of-type(2) {
    animation: animacija1 3.9s linear $delay2 infinite;
}

img:last-of-type {
    animation: animacija1 3.9s linear $delay3 infinite;
}

@keyframes animacija2 {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
      }
    }

.sunce {
    animation: animacija2 3.6s linear;
}

@media (max-width: 767px) {
	header {
	  flex-basis: 33%;
	}
  }
  @media (max-width: 479px) {
	img:nth-of-type(2), img:last-of-type {
	  display: none;
	}
  }
  @media (max-width: 767px) {
	.sunce {
	  height: 100px;
	  width: 100px;
	}
  }