
body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}

div {
  background-color: #eee;
  border: 20px solid #999;
  height: 800px;
  margin: 2em auto;
  width: 800px;
}

div > div:last-child {
  background: #69f;
  margin:auto 0 auto auto ;
/*   margin-left: auto;
  margin-right: 0;
  margin-top: auto; */
  width: 400px;
  height: 400px;
  border: 0px;
}

div > div:first-child {
  background: #f66;
  margin:0 auto 0 0 ;
  width: 400px;
  height: 400px;
  border: 0px;
}
