* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1em;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-item {
  flex-basis: 32%;
  height: 100px;
  margin-bottom: 2%;
}

/*
(4 x 0) + 1 = 1 = 1. Element
(4 x 1) + 1 = 5 = 5. Element
(4 x 2) + 1 = 9 = 9. Element
*/

.flex-item:nth-child(4n + 1) {
  flex-basis: 100%;
}
