@mixin flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin sun {
    border-radius: 50%;
    height: 12vw;
    width: 12vw;
    background-color: $color1;
    box-shadow: 0 0 0 20px $color3, 0 0 0 40px $color4, 0 0 0 60px $color5, 0 0 0 80px $color6, 0 0 0 100px $color7;
}