/* All elements */
* {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

/* h1 */
h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(68, 69, 68);
}

/* li remove button (x) */
.removeButton {
  display: inline-block;
  color: rgb(68, 69, 68);
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

/* all li's */
.ul-todo li {
  list-style-type: none;
  font-weight: bold;
  color: rgb(68, 69, 68);
}

/* completed li's */
.ul-todo li.done {
  text-decoration: line-through;
}

/* li container */
.li-container {
  display: flex;
  justify-content: space-between;
}

/* li internal container - checkbox + todo text */
.li-container-int input {
  margin: 20px;
}

/* header button group */
.button-group {
  font-size: 0;
}

/* all buttons from header button group */
.button-group button {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(68, 69, 68);
  color: rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
  cursor: pointer;
}

/* button from header button group which is not last child */
.button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* not disabled button from header button group - hover */
.button-group button:not(:disabled):hover {
  background-color: rgb(173, 175, 173);
}

/* disabled button from header button group */
.button-group button:disabled {
  background-color: rgb(68, 69, 68);
  color: rgb(204, 207, 204);
}

/* todo section */
#section-todo {
  border: 1px solid rgb(68, 69, 68); /* Green border */
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(173, 175, 173);
  width: 60%;
  margin: 50px auto 0px auto;
}

/* ul from todo section */
#section-todo ul {
  padding-left: 0;
}

/* button from todo section */
#section-todo button {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(68, 69, 68);
  color: rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
  cursor: pointer;
}

/* button from todo section - hover */
#section-todo button:hover {
  background-color: rgb(173, 175, 173);
}

/* input section */
#section-input {
  display: flex;
}

/* input text */
#input-text {
  width: 70%;
  text-align: left;
}

/* input add button */
#input-add {
  width: 30%;
  font-weight: bold;
  border: 1px solid rgb(68, 69, 68);
  color: rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
  cursor: pointer;
}

/* input add button - hover */
#input-add:hover {
  background-color: rgb(173, 175, 173);
}

/* clear completed section */
#section-clear-completed {
  width: 60%;
  margin: auto;
}

/* clear completed button */
#button-clear-completed {
  border: 0;
  color: rgb(68, 69, 68);
  background-color: white;
  margin-top: 20px;
  float: right;
}

/* clear completed button - hover */
#button-clear-completed:hover {
  font-weight: bold;
  cursor: pointer;
}
