.App {
  width: 100%;
  max-width: 900px;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px;
  
  
}

.ML {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: whitesmoke;
  
}
.un{
  color: gray;
  margin-bottom: 15px;
}
.sent-message {
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%; 
  align-self: flex-end; 
  text-align: right;
  
  
}
.msg{
  background-color: #f2f2f2;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
 max-width: 70%;  
  align-self: flex-start; 
  text-align: left;
  
}
.received-message {
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
 max-width: 70%;  
  align-self: flex-start; 
  text-align: left;
  
  
}


.inpbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.innerinpbox {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.send:hover {
  background-color: #45a049;
}


.membi {
  margin-top: 20px;
  margin-bottom: 20px;
  border: black solid 1px;
  border-radius: 10px;
  align-content: center;
  align-self: center;
  display: flex;
  padding: 5px;
  
}



.memb {
  height: flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.membcnt {
  font-weight: bold;
  margin-bottom: 10px;
}


.mmbl {
  display: flex;
}

#root{
  display:flex;
 padding-left: 25%;


}