body{
    text-align: center;
}
h1{
    color:brown;
    margin-top: 10%;
}
#dugmad{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.button{
    cursor: pointer;
}
#IO{
    align-content: center;
    text-align: center;
    
}
#output{
    align-content: center;
    text-align: center;
    justify-content: center;
    list-style-position: inside;
    margin-right: 2%;
    
}
#all, #active, #completed{
    font-size: 20px;
    display: inline;
    width: auto;
    background-color: antiquewhite;
}
