.app {
  text-align: center;
  margin: 0 auto;
  width: 650px;
  background-color: #f5f5f5;
  padding-top: 100px;
  font-family: monospace;
  position: relative;
}

.header {
  font-size: 62px;
  font-weight: 400;
  opacity: 0.5;
}

.todo-container {
  background-color: white;
  width: 500px;
  margin: 48px auto 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px 1px rgba(130, 100, 120, 1);
}

.todo-item {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.todo-item.list-group-item {
  border: none;
}

.todo-item_item {
  display: flex;
  text-align: center;
  cursor: pointer;
}

.todo-item_text{
  margin-left: 10px;
}

.todo-item_completed {
  text-decoration: line-through;
}

.todo-item_delete-button {
  cursor: pointer;
  font-size: 27px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

.btn-clear-all {
  position: absolute;
  margin: 0 48px;
  right: 29px;
  font-size: 12px;
  cursor: pointer;
}