* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  text-align: center;
}

/* box */

div {
  background-color: #99CCFF;
  border: 1px solid #333;
  width: 300px;
  height: 30px;
  margin: 4em auto;
}

/* Tranzicije */
/* property, duration */
div:first-of-type {
  -webkit-transition: width 2s;
  transition: width 2s;
}

div:first-of-type:hover {
  width: 400px;
}

div:nth-of-type(2) {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

div:nth-of-type(2):hover {
  background: #ff0;
}

div:nth-of-type(3) {
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

div:nth-of-type(3):hover {
  -webkit-transform: translate(500px, 0);
          transform: translate(500px, 0);
}

div:nth-of-type(4) {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

div:nth-of-type(4):hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* timing function, multiple properties */

div:nth-of-type(5) {
  -webkit-transition: background 1s ease, -webkit-transform 0.5s ease-in-out;
  transition: background 1s ease, -webkit-transform 0.5s ease-in-out;
  transition: background 1s ease, transform 0.5s ease-in-out;
  transition: background 1s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

div:nth-of-type(5):hover {
  background: red;
  -webkit-transform: scale(1.2, 2) skew(10deg, 5deg);
          transform: scale(1.2, 2) skew(10deg, 5deg);
}

/* delay */

div:nth-of-type(6) {
  -webkit-transition: opacity 1s ease 2s;
  transition: opacity 1s ease 2s;
}

div:nth-of-type(6):hover {
  opacity: 0.2;
}
