body{
  font-family: Tahoma, sans-serif;
  color: #ccc;
  font-size: 16px;
  background: url(images/fire.png) center 30%/18% no-repeat fixed,
  url(images/pattern.png),
  url(images/blossom.jpg) center center/cover no-repeat fixed;
}

h1{
  background: #333;
  text-align: center;
}