$color1: #eee;
$color2: #333;
$color3: #800;

$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin odlomci($color5) {
  p {
    color: $color5;
    @content;
  }
}

@mixin border-radius($r: 20px) {
  border-radius: $r;
}

@mixin margin-mix($margin...) {
  margin: $margin;
}

@mixin has-content {
  section {
    @content;
  }
}

body {
  background-color: $color1;
  color: $color2;
  font-family: $font1;
}

header,
footer,
section,
article {
  border: 2px solid $color2;
  padding: 1em;
}

header {
  @include margin-mix(20px);
}

@include odlomci(#fff) {
  background-color: $color3;
  padding: 1em;
}

section {
  width: 80%;
  @include margin-mix(2em auto);
  article {
    @include margin-mix(1em);
    @include border-radius();
    &:last-child {
      @include border-radius(0 30px);
      @include margin-mix(0);
    }
  }
}

@include has-content() {
  .odlomak {
    border: 8px dotted $color1;
  }
}

footer {
  @include margin-mix(1em 0 2em 5em);
}
