body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  text-align: center;
}

div {
  background-color: #f93;
}

.width1 {
  width: 50%;
}
.width2 {
  width: 500px;
}
.width3 {
  width: 25em;
}

.height1 {
  height: 50%;
}
.height2 {
  height: 150px;
}
.height3 {
  height: 5em;
}

.blue {
  background-color: #ccf;
}

.border {
  border: 2px solid #333;
}

.border-width {
  border: 6px solid #333;
}

.border-style {
  border: 6px dashed #333;
}

.border-color {
  border: 6px solid rgb(0, 0, 255);
}

.border2 {
  border-top: 6px solid #333;
  border-right: 10px double #f33;
  border-bottom: 4px dashed #33f;
  border-left: 8px dotted #3f3;
}

.padding {
  padding: 20px;
}
.padding2 {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 5px;

  text-align: justify;
}

.margin {
  margin: 20px;
}
.margin2 {
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-left: 200px;
}

.margin-auto {
  margin: 20px auto;
}
