body {
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
}

.main-container {
	background-color: #eee;
	width: 800px;
	height: 800px;
	border: 20px solid #999;
	margin: 2em auto;
}

.box {
	width: 50%;
	height: 50%;
}

.red {
	background-color: #f66;
}

.blue {
	background-color: #69f;
	margin-left: auto;
}
