body {
    background: url(images/fire.png) center 30%/18% no-repeat fixed,
                url(images/pattern.png),
                url(images/blossom.jpg) center center/cover no-repeat fixed;
    font-family: Tahoma, sans-sarif;
    font-size: 16px;
    color: #ccc;
}

h1 {
    text-align: center;
    background-color: #333;
}