body {
   font-family: Tahoma, sans-serif;
   font-size: 16px;
   color: #333;
   margin: 0;
}
div {
   background-color: #eee;
   text-align: justify;
}
.center { /* alternativno: div:nth-of-type(1)*/
   border: 6px solid #666; 
   padding: 30px; /* alternativno: 2em = dva puta veličina fonta roditelja*/
   margin: 20px auto; /* alternativno: 2em = dva puta veličina fonta roditelja*/
   width: 300px; 
} 
.right { /* alternativno: div:nth-of-type(2)*/
   border: 6px dashed #666;
   padding: 30px 50px 30px  50px; /* alternativno:width: ; 2em 4em/
   margin: 20px 0px 20px auto; /* alternativno: 2em 0 2em auto*/
   width: 500px; /* alternativno: 25%;*/
}
.left { /* alternativno: div:nth-of-type(3)*/
   border-right: 10px double #666;
   padding: 5px 15px 30px 40px;
   margin: 20px auto 20px 0px; /* alternativno: 2em auto 2em 0;*/
   width: 500px;  /* alternativno: 30em = 30 puta veličina fonta roditelja*/
}
.bottom { /* alternativno: div:nth-of-type(4)*/
   border-top: 6px dashed rgb(137, 149, 161);
   border-bottom: 7px dotted black;
   padding: 10px 5px 10px 5px; /* alternativno: 10px*/
   margin: 30px auto;   /* alternativno: auto*/
   width: 1500px; /* alternativno: 50%;*/
}