.app {
  text-align: center;
  width: 650px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding-top: 100px;
  font-family: "Courier New", Courier, monospace;
}

.header {
  font-size: 62px;
  font-weight: bold;
  opacity: 0.8;
}

.todo-container {
  background-color: white;
  width: 650px;
  margin: 48px auto 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px 1px rgba(130, 100, 120, 1);
}

.todo-item {
  display: flex;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
}

.todo-item_item {
  display: flex;
  text-align: center;
  cursor: pointer;
}

.todo-item_text {
  margin-left: 20px;
}
