
body{
    background-image: url(banner.jpeg);
    display: block;
    margin: 8px;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   }

#logo{
    font-size: 32px;
    font-family: sans-serif;
    color: black;
    margin-left: 23%;
}

#linkovi{
    font-size: 20px;
    margin-right:25%;
    padding: 8px;
    }

#linkovi a{
    text-decoration: underline 2px solid;
    color:black;
    }


.sekcija1{
    text-align: center;
    margin:270px
}

h1{
    color: blue;
    font-size: xxx-Large;
    font-family: sans-serif;
}

#podnaslov1{
    font-family:lato;
    font-size:x-large;
}

.podnaslov2{
    font-family: lato;
    color: black;
    margin-right: 2%;
}

.podnaslov3{
    font-family: lato;
    color: red;
    text-decoration: underline 2px solid black;
}

.sekcija2 {
    text-align: center;
    margin-top: 0px;
  }
  
  .sekcija2 hr {
    width: 20%;
    border: none;
    border-top: 2px solid white;
  }
  
  .sekcija2 p {
    font-family: sans-serif;
    color: green;
    font-size: 1.5rem;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .flex-item {
    margin: 15px;
    width: 100px;
    height: 200px;
    flex-basis: 25%;
    }
  
  .flex-item img {
    width:95%;
    height: 90%;
    object-fit: cover;
  }

  .podnaslov4{
    font-family: lato;
    color: black;
    font-size: 16px;
  }
  
  table {
    margin:50px auto;
    border-collapse: collapse;
  }
  
  td, th {
    padding: 10px;
    border-style:double;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
    
  #contactus {
    text-align: center;
    margin-top: 180px;
  }
  
  #contactus hr {
    border-color: black;
    width: 20%;
  }
  
  #contactus p {
    font-family: sans-serif;
    color: blue;
    font-size: 1.5em;
    margin-top: 20px;
  }
  

 footer {
    text-align: center;
    margin-top: 50px;
}

footer hr {
    border-color: black;
}

footer p {
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 20px;
}

footer a.logo2 {
    font-size: 3em;
    color: red;
    text-decoration: 1px underline black;
}

footer p:last-child {
    color: black;
}
