@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url('https://scied.ucar.edu/sites/default/files/media/images/weather_0.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header .place-container {
    display: flex;
    flex-direction: column;
    text-align: end;
    color: #fff;
}

header .place-container #time-zone {
    font-size: 30px;
    font-weight: 100;
}

header input {
    font: inherit;
    border: 1px solid #3c3c44;
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px 15px;
    background: #fff;
}

header button {
    font: inherit;
    font-size: 1rem;
    color: #eee;
    padding: 5px 15px; 
    border: none;
    border-radius: 50px;
    background: #3c3c44;
}

header button:hover {
    background: #151518;
    cursor: pointer;
}