* {
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: #333;
}

.wrapper {
   padding: 1em;
}

.wrapper div {
   background-color: #eee;
   border: 1px solid #666;
   padding: 1em;
   text-align: center;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.flex-item {
   flex-grow: 0;
   height: 100px;
   margin-bottom: 2%;
   flex-grow: 0;
   flex-basis: 100%;
}

@media (min-width: 480px) {
   .flex-item {
      flex-basis: 49%;
   }
}

@media (min-width: 768px) {
   .flex-item {
      flex-basis: 32%;
   }
}

@media (min-width: 1024px) {
   .flex-item {
      flex-basis: 24%;
   }
}

@media (min-width: 1200px) {
   .flex-item {
      flex-basis: 19%;
   }
}
