// variables
$color1: #eee;
$color2: #333;
$color3: #800;
$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

// mixins
@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
//mixin - uključuje cijelo pravilo
@mixin a-button {
  a {
    background-color: $color2;
    color: $color1;
    padding: 10px;
    margin: 1em;
    // dodavanje pseudo-klasa
    &:visited {
      background-color: #f93;
    }
    // dodavanje pseudo-klasa
    &:hover {
      background-color: $color3;
    }
  }
}
// mixins - argumenti
@mixin align-element($display, $txt, $space) {
  display: $display;
  margin: $space;
  text-align: $txt;
}

body {
  background-color: $color1;
  color: $color2;
  font-family: $font1;
}

header {
  a {
    @include align-element(block, center, 1em auto);
    background: $color2;
    color: $color1;
    padding: 10px;
    width: 300px;
  }
}

section {
  @include flex-container();
  background-color: $color3;
  padding: 1em;
  article {
    background: $color1;
    flex-basis: 48%;
    a {
      @include align-element(inline-block, right, 1em 50px);
    }
  }
}

footer {
  @include a-button;
}
