$color1: rgb(150,0,0);
$color2: rgb(150,150,0);

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

// @mixin keyframes ($animation-name) {
//   @keyframes #{$animation-name} {
// @content
//   }
// }

// @include keyframes(fade) {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity:1;
//   }
// }

@mixin animation($str) {
  animation: $str;
}

@mixin transition($args...) {
  transition: $args;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div {
  background-color: $color2;
  width: 25%;
  margin: 1em auto;
  padding: 1em;
  &:first-child {
    @include animation (fade 2s ease-in-out infinite);

  }
  &:nth-child(2) {
    @include animation (fade 4s linear 2s infinite);

  }
  &:nth-child(3) {
    @include animation (fade 0.5s ease-in infinite);

  }
  &:nth-child(4) {
    @include transition (background-color 2s ease);
    &:hover {
      background-color: $color1;
    }
  }

&:nth-child(5) {
  @include transition (width 1s ease);
  &:hover {
    width: 80%;
  }
}

&:nth-child(6) {
  @include transition (transform 1s ease);
  &:hover {
    width: 80%;
  }
}
}