body{
    margin: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


    
.container1{
    display: flex;
    height: auto;
}

.container1 div{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #65d1e4;
    flex-direction: column;
    border: 1px solid #666;
    
    
}

