body {
  font-family: Tahoma, sans-serif;
  color: #333;
  background-color: #ddd;
}
p:first-of-type {
  /* background-color: yellow;
  background-image: url(light-bulb.png); */
  background: #ffc url(light-bulb.png) center/contain  no-repeat;
}

p:nth-of-type(3) {
  background: url(orange.png) no-repeat right top/150px;
  url(light-bulb.png) left center/contain no-repeat;
   url(coffee-cup.png) center center/contain no-repeat;
   url(pattern.png) color: violet;
}