* {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(98, 95, 95);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#top {
    display: flex;
    justify-content: space-between;   
    margin-bottom: 2%;
}

#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(168, 220, 246);
    margin: 1% auto auto 1%;
}

.navigation {
    margin: 2% 1% 0 auto;
}

nav ul {
    width: 300px;
    list-style: none;
}

nav li {
    display: inline;
    color: rgb(168, 220, 246);
    padding: 2%;
}

nav a:visited {
    color: rgb(168, 220, 246);
}

.grid-container {
    margin-top: 200px;
    display: grid;
    grid-template: 200px / 1fr 1fr 1fr;
    margin: 0 auto 0 25%;
    grid-gap: 3%;
    height: fit-content;
    margin-bottom:20%;
}

.item1 {
    grid-column: 1 / span 1;
}

.item2 {
    grid-column: 2 / span 1;
}

.item3 {
    grid-column: 1 / span 2;
}

.card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    max-width: 840px; 
    height: 200px;
    justify-content: center;
} 

p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-left: 1.5em;
}

h3 {
    margin: 1em auto 1em 1.5em;
    font-weight: bold;
}

img {
    width: 200px;
    border-radius: 10px 0 0 10px;
}

.card-link {
    display: block;
    margin: auto 2% 2% auto;
}

#explore {
    font-size: 0.8em;
}

footer {
    background-color: black;
    text-align: center;
}

footer img {
    max-height: 50px;
    margin: 2%;
    width: auto;
}