* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer,
main,
section,
aside,
article {
  border: 1px solid #ccc;
  padding: 1em;
}

header,
footer {
  background-color: #ccc;
  height: 10vh;
}

main {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  margin: auto;
}

aside {
  flex-basis: 32%;
}

section {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

article {
  flex-basis: 24%;
  width: 49%;
}
