body {
   margin: 40px auto;  /* alternativno: margin: 0;*/
}
div { /* alternativno: body > div*/
   background-color: rgb(234, 230, 230);
   border: 10px solid lightslategray;
   padding: 20px auto;
   width: 500px;
   height: 500px;
   margin: auto;
}
.red { /* alternativno: div:first-child*/
   height: 250px; /* alternativno: 50%* - bolja opcija, kraći način/
   width: 250px; /* alternativno: 50%*/
   margin-top: 0px;
   margin-right: auto;
   margin-left: 0px;
   background-color: rgb(235, 102, 102);
   border: none;
}
.blue { /* alternativno: div:last-child*/
   height: 250px; /* alternativno: 50%*/
   width: 250px; /* alternativno: 50%*/
   margin-right: 0px;
   margin-left: auto;
   background-color: rgb(50, 124, 244);
   border: none;
}