* {
    box-sizing: border-box;
}

body {
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    line-height: 1.2;
    max-width: 60rem;
    margin: 0 auto;
    color: #333;
}

img {
    max-width: 100%;
}

.header {
    text-align: center;
    border-bottom: 8px double #f9f9f9;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.strap {
    font-size: 1rem;
}

.money-shot {
    position: relative;
}

.money-shot-img {
    border: 6px solid #e8cfa9;
    border-radius: 4px;
}

.image-caption {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

.intro-text {
    font-size: 1.8rem;
    font-style: italic;
}

.method-wrapper li {
    padding: .4rem 0;
}

.method-wrapper li:after {
    content: "*";
    display: block;
    text-align: center;
    margin: 1rem 0 .5rem 0;
    color: #eee;
}

@media (min-width: 50rem) {
    body {
        border-left: 4px solid #f9f9f9;
        border-right: 4px solid #f9f9f9;
        padding: 1rem 2rem;
    }
    .intro-wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .money-shot, .intro-text {

    }

    .intro-text {
        padding: .5rem;
        
    }
}