* {   /*ova pravila primijenjiva na svaki element*/
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   color: #333;
}
.wrapper {
   border: 1px dashed #666;
   padding: 1em;
}
.wrapper div {  /*targetirani svi elementi koji su unutar elementa koji ima class 'wrapper'*/
   width: 300px;
   background-color: #eee;
   text-align: center;
   border: 1px solid #666;
   padding: 1em;
   margin: 1em;  /*dodaje razmak između elemenata*/
}
.flex-container { /*targetirani svi elementi koji su unutar elementa koji ima class 'flex-container'*/
   display: flex;
}

.flex-item {
   flex-grow: 1;
}
.flex-item:nth-child(3) {
   flex-basis: 600px;
}