@mixin background($imgpath, $position: center, $repeat: no-repeat, $attachment: fixed) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: cover;
        attachment: fixed;
    }
}

@mixin flex {
    display: flex;
}
  
$breakpoints: (
    "small": 480px,
    "medium": 768px
);
  

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == max {
        $width: $width - 1px;
      }
      @media (#{$type}-width: $width) {
        @content;
      }
    }
}

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
      @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
  }
  
  
@mixin transition($args...) {
    transition: $args;
  }