.outer_div{
    width: 30vw;
    height: 30vw;
    border: 20px solid gray;
    background-color: lightgray;
}

#inner_div_1{
    background-color: rgb(48, 143, 245);
    width:50%;
    height: 50%;
}

#inner_div_2{
    background-color: rgb(251, 46, 0);
    height: 50%;
    margin-left: 50%;
}