@mixin footer($position, $bottom, $text-align, $font-size, $font-style, $color, $width){
    position:$positione;
    bottom: $bottom;
    text-align: $text-aligr;
    font-size: $font-size;
    font-style: $font-stylc;
    color: $color1;
    width: $width;
}