* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
}
.flex-container > *,
section {
  padding: 10px;
}

header,
footer {
  background: #999;
  flex: 0 100%;
  height: 10vh;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex: 0 100%;
  justify-content: space-between;
  height: 80vh;
}

section {
  background: #eee;
  flex: 0 24%;
}

@media (max-width: 1023px) {
  section {
    flex: 0 49%;
    height: 48%;
  }
}

@media (max-width: 767px) {
  section:first-child,
  section:last-child {
    flex: 0 100%;
    height: 24%;
  }
}

@media (max-width: 479px) {
  section {
    flex: 0 100%;
    height: 24%;
  }
}
