@import 'base/colors';
@import 'base/reset';
@import 'abstracts/mixins';

body {
  background: url(./img/back.JPG) no-repeat center center/cover fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.oblaci {

  @include flex-container;
  padding-top: 2vh;

  div {
    background: url(./img/cloud.png) no-repeat center center/contain;
    height: 28vw;
    width: 33vw;
    position: relative;
    z-index: 99;
    flex-basis: 30vw;
  }

  .oblak1 {
    @include animation('left-right 3.9s 1.1s ease-in-out alternate infinite');
  }

  .oblak2 {
    @include animation('left-right 3.9s 2.7s ease-in-out alternate infinite');
  }

  .oblak3 {
    @include animation('left-right 3.9s 3.9s ease-in-out alternate infinite');
  }

}

main {

  .sunce {
    @include animation('skakanje 3.6s linear forwards');
    width: 14vw;
    height: 14vw;
    background-color: $sunce;
    box-shadow: $sunce-sjena 0 0 50px;
    border-radius: 100%;
    position: absolute;
    top: 60vh;
    left: 50vw - 7vw;
  }

}

footer {
  position: absolute;
  bottom: 0;
  font-size: 3vw;
  font-style: italic;
  color: $font;
  width: 100vw;
  padding: 1rem;
}

@include keyframes(left-right) {
  0% {
    top: 0vw;
  }
  50% {
    top: 2vw;
  }
  100% {
    top: -2vw;
  }
}

@include keyframes(skakanje) {
  0% {
    top: 50vh;
  }
  100% {
    top: 5vh;
  } 
}

@media (max-width: 767px) {
  .oblaci  {
    div {
      flex-basis: 49vw; 
    }
  }
}

@media (max-width: 479px) {
  .oblaci  {
    .oblak2, .oblak3 {
      display: none; 
    }
  }
}