body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin-top: 20vh;
  font-size: 10vh;
  color: #666666;
  margin-bottom: 5vh;
}

.menu {
  margin-top: 20px;
  height: 5vh;
  margin-bottom: 5vh;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.menu li {
  margin: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #666666;
  color: #ffffff;
}

.menu a.active {
  background-color: #000000;
  color: #ffffff;
}

.add-task {
  margin-top: 20px;
}

.add-task input[type="text"] {
  padding: 5px;
  border: 1px solid #000000;
}

.add-task button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-task button:hover {
  background-color: #666666;
  color: #ffffff;
}
.add-task button:active {
  background-color: #000000;
  color: #ffffff;
}


#task-list {
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
  max-width: 47%;
  margin: 0 auto;

}

.task-list-empty {
  border: none;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  word-break: break-word;
}

.task-item:last-child {
  margin-bottom: 0;
}

.task-item .task-text {
  flex-grow: 1;
}

.task-item .task-checkbox {
  margin-right: 5vw;
}

.task-item .task-delete {
  color: rgb(77, 77, 77);
  cursor: pointer;
  
}

.task-item .task-text.completed {
  text-decoration: line-through;
  color: #999999;
}

#btn-all {
  border-radius: 5px 0 0 5px;
}

#btn-completed {
  border-radius: 0 5px 5px 0;
}

#task-input {
  height: 2.5vh;
  width: 40%;
  margin-right: 0;
}

.task-text {
  text-align: left;
}

