body {
   font-family: Tahoma, sans-serif;
   font-size: 16px;
   color: #333;
}

p {
   background-color: #eee;
   padding: 10px; /*alternativno: 1em; */
   border: 1px solid lightslategray;
   box-sizing: border-box;
   display: inline-block;
   width: 33.33%;
   margin-left: -4px;
}