* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
}
h1 {
    text-align: center;
}
div {
    width: 300px;
    height: 150px;
    background-color: #f93;
    border: 1px solid gray;
    margin: 4em auto;
}
.translate:hover {
    transform: translate(100px, 0px);
}
.rotate:hover {
    transform: rotate(30deg);
}
.scale:hover {
    transform: scale(0.5, 0.3);
}
.skew:hover {
    transform: skew(20deg, 15deg)
}
.multiple:hover {
    transform: rotate(30deg) scale(0.5, 0.3) skew(20deg, 15deg);
}