* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #333;
}

ul {
    list-style: none;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    padding-left: 6vw;
    padding-right: 6vw;
}

#logo {
    font-family: 'Courgette';
    color: yellow;
    text-decoration: none;
    text-shadow: 1px 2px #333;
    padding-top: 0px;
    font-size: 36px;
    font-weight: bold;
}
#inner-header-container {
    display: flex;
}

#inner-header-container li a {
    padding: 0px 20px;
    color: yellow;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
}

header {
    height: 60vh;
    background-image:url(ocean.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 102vw 160vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


section:first-of-type {
    margin-top:10vh;
    margin-left: 25vw;
    margin-bottom: 15vh;
    margin-right: 25vw;
    height: 25vh;
    width: 40vw;
    color: white;
    text-align: center;
    padding-top: 1.5%;
    background-color: #333;
    opacity: 80%;
    border-radius: 3%;
}

p {
    font-size: 14px;
} 

img {
    align-items: center;
    height: 100px;
    width: 150px;
}

button {
    background-color: yellow;
    border-radius: 10%;
    margin-top: 10px;
    padding: 10px 32px;
    display: inline-block;
  }

button a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}


main {
    background-color: rgba(192, 240, 224, 0.801);
    background-size: cover;
    height: 50vh;
}

article {
    display: inline-block;
    justify-content: center;
    width: 100%;
}
h2 {
    text-align: center;
    padding: 35px;
}

#image-grid {
    margin: auto;
    padding-left: 20vw;
    padding-right: 20vw; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5vw;
    align-items: center;
}
img {
    object-fit: contain;
    border-radius: 25%;
    height: 100px;
    width: 200px;
}
#caption {
    display: block;
    text-align: center;
}

footer {
    background-color: #333;
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
}

#contact {
    display: flex;
    justify-content: center;
}

#img {
    padding: 15px;
    height: 60px;
    width: 60px;
}


@media (max-width: 767px) {
    #imagre-grid {
        flex-direction: column;
        align-items: start;
    }
    #inner-header-container {
        flex-direction: column;
        padding-left: 0px;
    }
}