* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
    background-image:url("banner.jpeg");
    text-align: center;
    font-size: 16px;
}

body a:active {
    color: blue;
}

body a {
    color: black;
    margin-right: 2%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p{
    text-align: left;
    font-size: 2em;  
    font-weight: bold;
    margin-left: 3em;
}

nav{
    width: 40%;
}

nav a:active{
    color: green;
}


#name {
    margin: 15% 0 10% 0;
}

h1 {
    color: red;
    font-size: 3em;
    text-shadow: 7px 7px 10px black;
}

h2{
    font-family: Lato;
    text-decoration: underline 1px black;
}

#link {
    margin-top: 3%;
    font-size: 1em;
}
#sub {
    color: blue ;
}

.section-name{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    max-width: 20%;
    margin: auto auto 5% auto;
    font-size: 2em;
    color: green;
    padding: 15px;
}

.image-style{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
}

.image-style img  {
    width: 30%;
    padding: 1%;
    margin-bottom: 3%;
}

.section {
    margin-bottom: 5%;
}


table {
    border: 5px groove black;
    height: 200px;
    margin: auto;
    border-spacing: 10%;
    padding: 7px;
    border-spacing: 10px;
}


#contact-name {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: blue;
}
 #logo {
    font-size: 30px;
    text-decoration: underline 1px black;
 }
