* {
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    border: 2px dotted #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container div {
    border: 1px solid #666;
    background-color: #eee;
    width: 31%;
    height: 100px;
    margin: 1em;
    text-align: center;
    padding: 1em;
    margin-bottom: 1%;
}
.container div:nth-child(4n+1) {
    flex-basis: 100%;
}