@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}

@mixin sunce($r,$h,$w) {

    border-radius: $r;
    height: $h;
    width: $w;
  
}

