*{
  box-sizing: border-box;
}
body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1{
  text-align: center;
}

div{
  width: 300px;
  height: 150px;
  background-color: #f93;
  border: 1px solid #333;
  margin: 4em auto;


}translate {
  transform: translate(150px, -20px);
}

.rotate {
  transform: rotate(30deg);
}

.scale {
  transform: scale(0.5, 0.3);
}

.skew {
  transform: skew(20deg, 15deg);
}

.multiple {
  transform: rotate(30deg) scale(0.5, 0.3) skew(20deg, 15deg);
}
