body{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}
div{
    background-color: #eee;
  		text-align: justify
}
div:first-of-type{
    width: 300px;
    border: #666 solid 5px;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}
div:nth-child(2){
    width: 25%;
    border: 5px dashed #666;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 2em;
    padding-left: 4em;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 2em;
    margin-left: auto;

}
div:nth-child(3){
    width: 30em;
    border-right: double 8px #666;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: 0;

}
div:nth-child(4){
    width: 80%;
    border-top: dashed 4px #666;
    border-bottom: 6px dotted #333;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

}