@import "base/colors";
@import "base/typography";
@import "base/reset";
@import "abstracts/mixins";

body {
  color: $color2;
  font-family: $sans-serif;
}

.menu {
  @include spacing(1em, 2em);
  background-color: $color1;
}

ul {
  list-style-type: none;
  li {
    display: inline;
  }
}

@include linx($color4, $color3, $color2, red);