* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    border: 1px dashed #666;
    min-height: 100vh;
    padding: 1em;
}
.wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 2.5em;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.flex-item {
    flex-basis: 33%;
    height: 23vh;
}
