h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Lacquer', cursive;
}
h3 {
    font-family: 'Raleway', sans-serif;
}
