*{
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
  
.wrapper{
  border: 1px dashed #666;
  min-height: 100vh;
  padding: 1em;
}
  
.wrapper div{
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
}
  
.flex-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly */
  align-content: space-between; /* flex-start | flex-end | center | space-between | space-around | stretch */
}
  
.flex-item{
  flex-basis: 33%; 
  height: 23%;
} 
  
