body{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ccc;
background: 
 url(fire.png) center 30%/18% no-repeat fixed,
 url(pattern.png) center center,
 url(blossom.jpg) center center no-repeat;


}
h1{
  background: #333;
  text-align: center;
}

/* grid je fixed */