body{
  font-family: Tahoma, sans-serif;
  color: #333;
  font-size: 16px;
  background-color: #ddd;

}

p:first-of-type{
  background-color: #ffc;
  background: #ffc url(images/light-bulb.png) center center/contain no-repeat;
}

p:nth-of-type(3){
  background: url(images/orange.png) right top/150px no-repeat, 
  url(images/butterfly.png) left center/contain no-repeat,
  url(images/coffee-cup.png) center center/contain no-repeat,
  url(images/pattern.png) #ccf;
} 