$color1: #eee; 
$color2: #333;
$color3: #800;

$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin theme-colors($light-theme: true) {    /*ako ga ne definiramo, njegova je vrijednost 'true*/
   @if $light-theme {                        /*ispituje je li neki izraz true ili false i ovisno o tome primjenjujemo pravila*/
      background-color: $color1;
      color: $color2;
   }   @else {                            /*ako nije true, onda vrijede ova pravila*/
      background-color: $color2;
      color: $color1;
   }
}

@mixin spacing($margin, $padding) {
   margin: $margin;
   padding: $padding;
}

body {
   font-size: $font1;
}

header, footer, article {
   @include theme-colors(false);   /*da je tu true, bila bi svijetla podloga*/
   @include spacing(1em, 2em);
}