$color1: #eee;
$color2: #ccc;
$color3: #333;
$color4: rgba(136, 0, 0, 0.5);
$color5: #f93;

$background: $color1;
$text-color: $color3;

$border-width: 2px;
$border-style: solid;
$border-color: $color3;