* {
  margin: 0;
  box-sizing: border-box;
  color: #666;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #eee;
}

header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  margin-left: 0.5 em;
  margin-right: 0.5 em;
  padding: 0.5;
  border-radius: 4px;
}

header ul li a:hover {
  background-color: #333;
  color: white;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding: 1em;
}

main {
  position: fixed;
  top: 101px;
  width: 100%;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

form {
  display: flex;
  justify-content: space-between;
}

#forma {
  margin: 40px auto;
  border: 1px solid #333;
  background-color: #ddd;
  padding: 1em;
  width: 90%;
  border-radius: 4px;
}

#label-kol {
  margin-left: 20px;
}

button:hover {
  background-color: #333;
  color: white;
}

#stavke {
  margin: 40px auto;
  border: 1px solid #333;
  background-color: #ddd;
  padding: 1em;
  width: 90%;
  border-radius: 4px;
}

.stavka {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#icon,
#menu-small {
  display: none;
}
@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  h1 {
    font-size: 1.5em;
  }
  header {
    justify-content: space-evenly;
  }
  #form-inner-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #form-button-container {
    display: flex;
    margin-top: 10px;
    align-items: start;
  }

  #form-button-container button:nth-child(2) {
    margin-left: 10px;
  }

  #label-kol {
    margin-left: 0px;
    margin-top: 10px;
  }

  #logo {
    width: 50px;
    height: 50px;
  }

  #menu-std {
    display: none;
  }

  #icon {
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  #menu-small ul {
    list-style-type: none;
  }

  #menu-small ul li {
    margin-bottom: 0.5 em;
    padding: 0.5em;
  }
  #menu-small ul a {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 4px;
  }

  #menu-small ul a:hover {
    background-color: #333;
    color: white;
  }
}
