body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #ddd;
}

header{
  background-color: green;
}

h1{
  background-color: rgb(253, 190, 190);
}

nav{
  background-color: #ffc;
}

main{
  background-color: skyblue;
}

footer{
  background-color: rgb(153,51,51);
}

p{
  background-color: #eee;
}