* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  text-align: center;
}

section {
  border: 1px solid #ccc;
  margin: auto;
  width: 400px;
}

div {
  background-color: #f93;
  border: 1px solid #333;
  font-size: 2em;
  line-height: 150px;
  width: 300px;
  height: 150px;
  margin: 4em auto;
  text-align: center;
}

div:first-child {
  transform: translate(-400px, 0);
}

div:nth-child(2) {
  transform: translate(0, -278px);
}

div:nth-child(3) {
  transform: translate(400px, -556px);
}

div:nth-child(4) {
  transform: rotate(180deg) translate(400px, 556px);
}

div:nth-child(5) {
  transform: translate(0, -834px) skew(15deg, 10deg);
}

div:nth-child(6) {
  transform: translate(400px, -1112px) rotate(45deg) skew(45deg, 5deg);
}
