@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url('https://scied.ucar.edu/sites/default/files/media/images/weather_0.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header .place-container {
    display: flex;
    flex-direction: column;
    text-align: end;
    color: #fff;
}

header .place-container #time-zone {
    font-size: 30px;
    font-weight: 100;
}

header .place-container #country {
    font-size: 12px;
    font-weight: 700;
}

header input {
    font: inherit;
    border: 1px solid #3c3c44;
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px 15px;
    background: #fff;
}

header button {
    font: inherit;
    font-size: 1rem;
    color: #eee;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    background: #3c3c44;
  }
  
  header button:hover {
    background: #151518;
    cursor: pointer;
  }
  
  header #input-location {
    text-transform: uppercase;
  }
  
  main {
    color:#fff;
  }
  
  main .current-info-container {
    display: flex;
    justify-content: space-evenly;
  }

  main .current-info-container #today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    background: rgba(0,0,0,0.2);
  }

  main .current-info-container #today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
  }

  main .current-info-container #today .temp {
    padding-top: 15px;
    font-size: 18px;
  }

  main .date-container {
    font-weight: 100;
  }

  main .date-container #date {
    font-size: 30px;
  }
  
  main .date-container #time {
    font-size: 70px;
  }

  main .current-info #current-weather-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    background: rgba(24,24,24,0.6);
  } 

  main .current-info #current-weather-items .weather-item{
    display: flex;
    justify-content: space-between;
  }

  footer .future-forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    color: #fff;
    width: 100%;
    background: rgba(24, 24, 27, 0.6);
  }


  footer .future-forecast #weather-forecast {
    display: flex;
  }

  footer #weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px ;
    background: rgba(0,0,0,0.2);
  }

  footer #weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
    font-size: 0.6rem;
  }

  footer #weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 0.6rem;
  }

footer #weather-forecast .weather-forecast-item .day{
  padding: 5px 15px;
  background: #3C3C44;
  border-radius: 50px;
  text-align: center;
  font-size: 0.6rem;
}

@media (max-width: 700px){

    header {
        flex-direction: column;
    }
  
    header .place-container {
        margin-bottom: 20px;
    }
  
    header .input-container {
      text-align: center;
    }
  
    main .current-info-container {
        flex-direction: column;
    }
  
    main #time, main #date {
      text-align: center;
    }
  
    footer .future-forecast #weather-forecast {
        flex-wrap: wrap;
    }
  
    footer .future-forecast{
        position: static;
    }
    
    footer #weather-forecast .weather-forecast-item {
      margin-bottom: 10px;
    }
  }

@media (max-height: 630px) {

    footer .future-forecast{
        position: static;
    }
  }