* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gugi', cursive;
    font-size: 16px;
    padding-top: 4rem;
}

fieldset {
    border: 1px solid #b3b3b3;
    font-size: 16px;
    color: #b3b3b3;
    width: 50rem;
    margin: auto;
}

h1 {
    font-size: 4rem;
    color: #ccc;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.menu {
    width: 20rem;
    margin: auto;
    justify-content: center;
    padding-bottom: 1rem;
}

.list_item {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
  }

li:hover {
    background-color: #ccc;
    color: white;
}

li {
    list-style: none;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    color: #b3b3b3;
    width: 100%;
    justify-content: center;
}

.clear {
    width: 20rem;
    margin: auto;
    text-align: right;
    padding-bottom: 4rem;
}

.clear a {
    text-decoration: none;
    color: #ccc;
    font-size: 10px;
}

.forma {
    width: 20rem;
    margin: auto;
    text-align: center;
}

input {
    width: 84.50%;
    height: 30px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 0;
}

.button {
    text-decoration: none;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Gugi', cursive;
    background-color: white;
    color: #b3b3b3;
    height: 30px;
}

button:hover {
    background-color: #ccc;
    color: white;
}

.myUL {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}