* {   /*ova pravila primijenjiva na svaki element*/
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   color: #333;
}
.wrapper {
   padding: 1em;
}
.wrapper div {  /*targetirani svi elementi koji su unutar elementa koji ima class 'wrapper'*/
   background-color: #eee;
   text-align: center;
   border: 1px solid #666;
   padding: 1em;
   /*margin: 1em;  /*dodaje razmak između elemenata*/ 
}
.flex-container {
   display: flex;
   justify-content: space-between;
   flex-wrap :wrap; /*ovim dozvoljavamo prelamanje elemenata u novi red i time se elementi slažu jedan ispod drugog*/
}
.flex-item {
   width: 48%; /*jer želimo imati dva u redu*/
   height: 100px;
   margin-bottom: 2%;
}
.flex-item:nth-child(3n) {   /*3n - svaki treći element*/
   flex-basis: 100%;  /*poprima širinu flex-containera*/
}