// variables
$color1: #eee;
$color2: #333;
$color3: #800;
$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

body {
  background-color: $color1;
  color: $color2;
  font-family: $font1;
}
h1 {
  color: $color3;
}

a {
  font-family: $font2;
}
article {
  border: 2px solid $color3;
  margin: 1em;
}
