$white: #F7F1F1;
$gray: #3C3A3A;
$red: #A32727;
$black: #151414;

$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin spacing($margin, $padding) {
    margin: $margin;
    padding: $padding;
}
body {
    @include spacing(0, 0);
    font-family: $font1;
}
div {
    @include spacing(0 0 1em 0, 0);
    background-color: $red;
    width: 100px;
    height: 20px;
}

@for $i from 1 through 8 {
    $width: percentage(1/$i);
    .col-#{$i} {
        width: $width
    }
}