@font-face {
  font-family: mainFont;
  src: url(openSans-regular.ttf);
}

body {
  margin: 0;
  font-family: "mainFont";
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background-color: #333;
  padding: 100px 0;
  color: #fff;
}

header #naslov {
  background-color: #333;
  text-align: center;
  font-size: 22px;
}

header #logo {
  position: absolute;
  top: 110px;
  right: 50px;
  float: right;
  width: 130px;
}

nav {
  background-color: #00b0ba;
  padding: 0;
  padding-right: 36px;
  overflow: hidden;
  clear: both;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00b0ba;
  float: right;
}

nav ol li {
  float: left;
}

nav ol li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 15px 17px;
  color: #fff;
}

nav ol li a:hover {
  background-color: #ff828b;
  color: #333;
}

main {
  clear: both;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

main h3 {
  text-align: center;
  margin: 100px auto 30px auto;
  padding-bottom: 15px;
  width: 60%;
}

main h4 {
  margin-top: 60px;
}

main #monster {
  display: block;
  width: 99%;
  margin-bottom: 50px;
}

main #imagesZad1 {
  margin: 100px auto;
  text-align: center;
}

main #imagesZad1 img {
  width: 80%;
}

main .svgEl {
  margin: 0 auto;
}

main #Layer_1 {
  margin: 50px 0;
}

main #linkovi {
  margin-top: 100px;
}

main #linkovi a {
  text-decoration: none;
  color: #00b0ba;
  border-bottom: 1px solid #00b0ba;
  padding: 5px 0;
  margin: 10px 5px;
}

main #linkovi a:hover {
  color: #ff828b;
  border-bottom: 1px solid #ff828b;
}

main #anchors {
  margin: 100px auto;
  text-align: justify;
  width: 65%;
}

main #anchors .top {
  text-align: center;
}

main #eiffel {
  display: block;
  margin: 100px auto;
  width: 65%;
}

main #zaposlenici {
  margin: 100px auto;
  text-align: left;
}

main #zaposlenici .titTable {
  background-color: #ffdacc;
  padding: 15px 0;
}

main #zaposlenici .titTable2 {
  padding-top: 50px;
}

main #zaposlenici td {
  padding: 15px;
}

main #zaposlenici th {
  text-align: center;
  padding: 10px 0;
}

main #obrazac {
  width: 80%;
  margin: 100px auto;
  text-align: left;
}

main #obrazac label {
  display: block;
  margin: 25px 0 8px 0;
  font-size: 14px;
  font-weight: 600;
}

main #obrazac #ime,
main #obrazac #prezime,
main #obrazac #email,
main #obrazac #lozinka,
main #obrazac textarea {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 6px;
}

main #obrazac #s,
main #obrazac #m,
main #obrazac #l,
main #obrazac #pouz,
main #obrazac #kart {
  display: inline !important;
  font-weight: 100;
}

main #obrazac #sub,
main #obrazac #res {
  background-color: #444;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 5px 8px;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
}

main #obrazac #sub:hover,
main #obrazac #res:hover {
  background-color: #00b0ba;
  border: 1px solid #00b0ba;
}

main #strukt {
  margin-top: 100px;
}

main #coding {
  display: block;
  width: 40%;
  margin: 100px auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  margin-top: 100px;
}

footer #icons {
  padding: 40px 0 10px 0;
  text-align: center;
}

footer #icons img {
  width: 25px;
  margin: 0 10px;
}
