body{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color:#333;
    margin:0;
}

.div1{
    background-color: #eee;
    width: 800px;
    height: 800px;
    border: 20px solid #999;
    margin:2em auto;
    }

.div2{
        background:#f66 ;
        height: 400px;
        width: 400px;
    }

.div3{
    background-color: #69f;
    margin-left: auto;
    margin-right: 0;
    height: 400px;
    width: 400px;
}

