body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  margin: 1em;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex-grow: 1;
}

.flex-item:nth-child(3) {
  flex-basis: 600px;
}
