body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #ddd;
}

p:first-of-type {
    background: #ffc url(light-bulb.png) center center/contain no-repeat;
}

p:nth-of-type(3) {
    background: url(orange.png) right top/150px no-repeat,
    url(butterfly.png) left center/contain no-repeat,
    url(coffee-cup.png) center center/contain no-repeat,
    #ccf url(pattern.png);
}