*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
}
h1{
    text-align: center;
}
div{
    background-color: #9cf;
    border: 1px solid #333;
    width: 300px;
    height: 30px;
    margin:4em auto ;
}
div:first-of-type{
    transition: width 2s;
}

div:first-of-type:hover{
    width: 400px;
}
div:nth-of-type(2):hover {
    background-color: #ff0;
}
div:nth-of-type(2){
    transition: background-color 5s;
}
div:nth-of-type(3):hover{
    transform: translate(500px,0);
}
div:nth-of-type(3){
    transition: transform 3s ease;
}
div:nth-of-type(4):hover{
    transform: rotate(180deg);
}
div:nth-of-type(4){
    transition: transform 3s;
}
div:nth-of-type(5):hover{
    background-color: red;
    transform: scale(1.2,2) skew(10deg,5deg);
}
div:nth-of-type(5){
    transition: transform 3s,background-color 10s;
    
}
div:nth-of-type(6):hover{
    opacity: 0.2;
    
}
div:nth-of-type(6){
    transition: opacity 5s;
}