body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #333;
  font-family: Tahoma, sans-serif;
  content: "di si?";
}

div {
  margin: 0 0 1em 0;
  padding: 1em;
  background: #333;
  color: #eee;
}

.col-8:before {
  content: "8";
}

.col-7:before {
  content: "7";
}

.col-6:before {
  content: "6";
}

.col-5:before {
  content: "5";
}

.col-4:before {
  content: "4";
}

.col-3:before {
  content: "3";
}

.col-2:before {
  content: "2";
}

.col-1:before {
  content: "1";
}