body{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}
p{
    background-color: #eee;
    border: 1px solid #666;
    box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    padding: 1em;
    width: 33.33%;
}