html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
}