$sans-serif: Tahoma, Verdana, sans-serif;
$serif: Georgia, "Times New Roman", serif;
$mono: "Courier New", Courier, mono;

$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-h1: 2.25rem;
$font-size-h2: 2rem;

$line-height-base: 1.5;