//abstract
@import "./abstract/mixins";
@import "./abstract/keyframes";

//base
@import "./base/colors";
@import "./base/reset";

//styles
.main-container {
	min-height: 100dvh;
	min-height: 100vh;
	position: relative;
	@include flex(column, null, space-between, center);
	padding-top: 100px;
}

.sun-container {
	min-width: 100%;
	height: 46%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	display: flex;
	justify-content: center;
	overflow: hidden;
	.sun {
		@include circle(200px, radial-gradient(circle, $clr-sun 95%, #f7971e));
		position: relative;
		top: 100%;
		filter: drop-shadow(2px 2px 16px $clr-sun);
		animation: sunAnimation 3.6s linear forwards;
	}
}

.cloud-container {
	@include flex(row, wrap, center, center);
	gap: 1em;

	img {
		width: 100%;
		height: auto;
		flex-basis: 99%;
		transform: translateY(-20px);
		opacity: 0;
		animation-name: showCloud, cloudAnimation;
		animation-timing-function: linear;
		animation-fill-mode: forwards, none;
		animation-iteration-count: 1, infinite;
		//animation: cloudAnimation 3.9s linear infinite;

		&:nth-child(2),
		&:last-child {
			display: none;
		}
		&:first-child {
			animation-duration: 1.1s, 3.9s;
			animation-delay: 1.1s;
		}
		&:nth-child(2) {
			animation-duration: 2.7s, 3.9s;
			animation-delay: 2.7s;
		}
		&:last-child {
			animation-duration: 3.9s, 3.9s;
			animation-delay: 3.9s;
		}
	}

	@include mediaQuery("md", min) {
		img {
			flex-basis: 48%;
			&:nth-child(2),
			&:last-child {
				display: block;
			}
		}
	}
	@include mediaQuery("lg", min) {
		img {
			flex-basis: 30%;
		}
	}
}
