* {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: block;
    text-align: center;
    margin: 1% auto 3% auto;
}

body {
    width: 50%;
    margin: auto;
}

.introduction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtitle {
    font-style: italic;
    font-size: 2.2em;
    font-weight: 400;
    width: 50%;
    padding-right: 1%;
    line-height: 140%;
}

#scone-image {
    width: 400px;
    border: 6px solid burlywood;
}

#introduction-paragraph {
    width: 100%;
    text-align: left;
    font-size: 1em;    
    margin: 5% auto 5% 0;
}

.ingredients {
    order: 1;
    width: 35%;
    height: fit-content;
    background-color: lemonchiffon;
    padding: 2%;
    border: 2px solid burlywood;
    float: right;   
}

.method h3 {
    margin-bottom: 5%;
}

@media only screen and (max-width: 1600px) {
    body{
        width: 800px;
    }
    .introduction {
        width: 100%;
        display: flex;
    }
    .subtitle {
        width: 400px;
        font-size:2em;
    }
    .introduction img {
        width: 50% !important;
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        width: 100%;
    }

    #scone-logo{
        font-size: 3vw;
    }

    .introduction {
        width: 100%;
        margin: 0;
    }
    .subtitle {
        width: 100%;
        font-size:4vw;
        margin: 3vw;
    }

    #introduction-paragraph {
        margin: 1% 2%;
    }

    .introduction img {
        width: 96% !important;
        margin: 2%;
        text-align: center;
    }

    .ingredients {
        display: block;
        width: 100%;
        background-color: transparent;
        border:none;
    }

    .ingredients h3 {
        margin-bottom: 3%;
    }

    .method li {
        margin-bottom: 7%;
    }
}