$color1: #eee; 
$color2: #333;

/*kako uključiti u ovu datoteku kod koji ćemo napisati u drugoj datoteci: ta druga datoteka mora počinjati s _ u imenu*/
@import "mixins";   /*navodi se ime datoteke bez _*/   /*omogućuje razbijanje koda u dvije datoteke - odvojena za mixine npr*/


* {
   box-sizing: border-box;
}

div {
   background-color: $color1;
   border: 2px solid $color2;
   text-align: center;
   padding: 1em;
}

.flex-container {
   @include flex;
   min-height: 200px;
}

.flex-item {
   @include mq("large", max) {     /*ako je width large + tip max*/
      flex-basis: 48%;              /*ovo između zagrada je ono što je pozvano naredbom 'content'*/
      margin-bottom: 1em;        /* ovo je zbog razmaka među elementima*/
   }
   @include mq("small", max) {   /*ako je tip mx, uzmemo vrijednost width small i smanjimo za jedan px*/
      flex-basis: 100%;
   }
}






