*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}


.header-text{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;

}
header h1{
    font-weight: bolder;
}
header img{
    height:80px;
    margin-right:5px;
}
.input-wrapper{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.input-wrapper input{
    margin-left:10px;
}
section{

    margin-top:50px;
}
section .rezultati{
    text-align: center;
    margin-top:20px;
}
.input-wrapper label{
    font-size:x-large;
}
section{
    width:100%;
    height:auto;
    
}

article{
    
    margin:20px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    width:30%;
   
    
}
#songs{
    
    font-weight: bold;
}
#loader{
        
        position:absolute;
        right:48%;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
