body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
}
div {
  background-color: #eee;
  text-align: justify;
}

#prvi-box
{
    border: 5px solid #666;
    margin: 2em auto 2em auto;
    width: 300px;
    padding: 2em 2em 2em 2em;
}

#drugi-box
{
    border: 5px dashed #666;
    margin: 2em 0 2em auto;
    width: 25%;
    padding: 2em 4em 2em 4em;
}

#treci-box
{
    border-right: 8px double #666;
    margin: 2em auto 2em 0;
    width: 30em;
    padding: 5px 20px 30px 50px;
}

#cetvrti-box
{
    border-top: 4px dashed #666;
    width: 80%;
    border-bottom: 6px dotted #333;
    margin: auto;
    padding: 10px;
}