*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;

}
section {
    border: 1px solid #ccc;
    width: 400px;
    margin: auto;
}
div{
    background-color: #f93;
    border: 1px solid #333;
    font-size: 2em;
    width: 300px;
    height: 150px;
    line-height: 150px;
    line-height: 150px;
    margin: 4em auto;
    text-align: center;

}
div:first-child{
    transform: translate(-400px,0);

}
div:nth-child(2){
    transform: translate(0,-278px);
}
div:nth-child(3){
    transform: translate(400px,560px);
}
div:nth-child(4){
    transform: rotate(180deg) translate(400px,556px);
}
div:nth-child(5){
    transform: translate(0,-843px); skew(15deg,10deg) 
}
div:nth-child(6) {
    transform: translate(400px, -1112px) rotate:(45);
}