* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
  height: 600px;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  width: 30%;
  margin: 1em;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* display:flex | inline-flex */
  flex-wrap:wrap;
  align-content: center; /* align-content: flex-start | flex-end | center | space-between | space-around | stretch */
}
