* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px dashed #666;
  min-height: 100vh;
  padding: 1em;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-item + .flex-item {
  margin-left: 2%;
}

.flex-item:nth-child(2) {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}