@mixin flex {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 10px;
 }

 @mixin sun {
    flex-wrap: wrap;
    display: flex;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
  