$color1: #eee;
$color2: #333;
$color3: #800;

$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin spacing($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

body {
    @include spacing(0, 0);   
    font-family: $font1;
}

div {
    @include spacing(0 0 1em 0, 1em);
    background-color: $color2;
    color: $color1;
    width: 100%;
    height: 20px;
}


$num: 8;

@while $num > 0 {
  .col-#{$num} {
    &:before {
      content: "#{$num}";
    }
  }

  $num: $num - 1;
}