* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

h1 {
    text-align: center;
}
div {
    background-color: #f93;
  border: 4px solid #333;
  border-radius: 100%;
  display: inline-block;
  font-size: 2em;
  line-height: 90px;
  width: 100px;
  height: 100px;
  margin: 1em;
  text-align: center;
  position: relative;
}

@keyframes animacija1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        background-color: red;
    }
    100% {
        transform: scale(1);
    }
}

div:first-of-type {
    animation: animacija1 1s ease-in-out infinite;
}

@keyframes animacija2 {
    0% {
        transform: translate(0, 0) scale(1) rotate(0deg);
    }
    50% {
        transform: translate(0, 300px) scale(0.8) rotate(360deg);

    }
    100% {
        transform: translate(0, 0) scale(1) rotate(0deg);
    }
}

div:nth-of-type(2) {
    animation: animacija2 2s ease-in-out infinite;
}

@keyframes animacija3 {
    0% {
        border-radius: 100%;
        transform: rotate(0deg);
    }
    50% {
        border-radius: 0;
        transform: rotate(180deg);
        
    }
    100% {
        border-radius: 100%;
        transform: rotate(360deg);
    }
}

div:nth-of-type(3) {
    animation: animacija3 5s linear infinite;
}

@keyframes animacija4 {
    0% {
        transform: translate(0,0);
    }
    50% {
       transform: translate(0, -20px);
    }
    100% {
        transform: translate(0,0);
    }
}

div:nth-of-type(4) {
    animation: animacija4 0.5s ease-in-out infinite;
}

div:nth-of-type(4):hover {
    animation-play-state: paused;
}

@keyframes animacija5 {
    0% {
        top: 0;
    }
    25% {
        top: 600px;
        background-color: #f93;
        transform: rotate(0deg);
    }
    50% {
        background-color: red;
        transform: rotate(360deg);
    }
    75% {
        top: 600px;
        background-color: #f93;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
    }
}

div:nth-of-type(5) {
    animation: animacija5 4s ease-in-out infinite;
}

@keyframes animacija6 {
    0% {
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

div:nth-of-type(6):hover {
    animation: animacija6 1s ease-in-out infinite;
}