html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-image: url(./img/back.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body{
  margin:0;
  padding:0;
}

*:before,
*:after {
  box-sizing: inherit;
}

