* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px dashed gray;
}

.wrapper {
  border: 1px solid #666;
  min-height: 100vh;
  padding: 1em;
}

.wrapper div {
  background-color: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.flex-item {
  flex-basis: 18vh;
}
