body {
    box-sizing: border-box;
    margin: 0;
    padding: 13px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .members-count,
  .members-list,
  .messages {
    border: 1px solid #e4e4e4;
    padding: 15px;
    margin-bottom: 15px;
  }

  .messages {
    flex-shrink: 1;
    overflow: auto;
  }

  .message {
    padding: 5px 0;
  }
  .message .member {
    display: inline-block;
  }

  .member {
    padding-right: 10px;
    position: relative;
  }

  .message-form {
    display: flex;
    flex-shrink: 0;
  }
  .message-form__input {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    font-size: 16px;
  }
  .message-form__button {
    margin: 10px;
  }