.form {
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  width: 50%; 
  margin: 10% auto;
  padding: 25px;
  background-color: cornflowerblue;
}

.form input {
  width: 75%; 
  font-weight: bold; 
  padding: 10px; 
  margin:15px auto
}

.button1{
  background-color:grey;
  width:155px;
  color:black;
  font-weight: bold;
  }

 .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  padding: 20px;
}

.user-info img {
  width: 200px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.repo-list {
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
}

.repo-list ul {
  list-style: none;
  padding: 0;
}

.repo-list li {
  margin: 5px 0;
  font-size: 16px;
  border:1px solid grey
}

.button2 {
  background-color: grey;
  width: 155px;
  color: black;
  font-weight: bold;
  display: block;
  margin: 0 auto; 
  margin-top: 20px; 
}
