* {
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
}
h1 {
    text-align: center;
}

div{
    background-color: #f93;
    border: 1px solid #333;
    width: 300px;
    height: 150px;
    margin: 4em auto;
}



div:hover {
    transform: translate(150px, -20px
    ); 
}
.translate {
    transform: translate(150px, -20px);
}
.rotate{
    transform: rotate(-30deg);
}
.scale{
    transform: scale(2,0.5);
    transform: scale(2);
    transform: scale(0.5);
}
.skew{
    transform: skew(20deg,15deg);
}
.multiple{
    transform:rotate(30deg) scale(0.5,0.3) skew(20deg,15deg);
}
.matrix{
    
    transform: matrix(3,20deg,15deg,2,100px,-100px);
}