* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  width: 150px;
  margin: 1em;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* display:flex | inline-flex */
}

.flex-item:nth-child(3) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
