* {
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

ul {
  list-style: none;
}

#logo {
  font-size: 2em;
  font-weight: bold;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  margin-left: 18vw;
  margin-right: 18vw;
}

#inner-header-container {
  display: flex;
}

#inner-header-container li {
  font-family: sans;
  font-size: 1.125em;
  font-weight: bold;
  padding-left: 1em;
}

#section-title {
  margin-top: 34vh;
  text-align: center;
}

#section-title h1 {
  color: blue;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: 700;
}

#section-title h3 {
  font-family: lato;
  font-size: 1.5em;
  margin-top: 2.5vh;
}

#section-title ul {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  padding: 0;
  font-family: lato;
  font-size: 1.15em;
  font-weight: bold;
}

#section-title ul li:nth-of-type(2) a {
  padding-left: 2.5vh;
  color: red;
  text-decoration-color: black;
}

#portfolio {
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-align: center;
}

#portfolio p {
  font-family: sans-serif;
  font-size: 1.5em;
  color: green;
  text-align: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#portfolio hr {
  border-color: white;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

#image-grid {
  margin: auto;
  padding-left: 15vw;
  padding-right: 15vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3vh;
  grid-column-gap: 3vw;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#more {
  margin-top: 3vw;
  margin-bottom: 1vw;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

#contact-us{
  margin-top: 20vh;
  margin-bottom: 5vh;
  text-align: center;   
}

#contact-us hr {
  border-color: black;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

#contact-us p {
  font-family: sans-serif;
  font-size: 1.5em;
  color: blue;
  text-align: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#form-container {
  width: fit-content;
  margin: auto;
  border: 1px solid black;
}

.input-container {
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em;
}

.other-container {
  text-align: center;
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em;
}

footer hr {
  border-color: black;
  border-width: 2px;
  margin-top: 10vh;
}

#footer-logo {
  margin-top: 2vh;
  text-align: center;
}

#footer-logo a {
  font-family: sans-serif;
  font-size: 3em;
  color:red;
  text-decoration: none;
  border-bottom: 1.5px solid black;
}

#footer-text {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.25em;
}

@media (max-width: 1023px) {
  #header-container {
    flex-direction: column;
    align-items: start;
  }
  #inner-header-container {
    flex-direction: column;
    padding-left: 0px;
  }
  #inner-header-container li {
    padding-left: 0px;
  }
} 