* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header, 
footer,
main,
article,
aside,
section {
    border: 1px solid #ccc;
    padding: 1em;
}

header,
footer {
    background-color: #ccc;
    height: 10vh;
}

main {
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 80vh;
}

aside {
    flex-basis: 32%;
}

section {
    display: flex;
    flex-direction: column;
    flex-basis: 66%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

article {
    flex-basis: 24%;
    width: 49%;
}