* {
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   color: #333;
}
h1 {
   text-align: center;
}

div {
   background-color: #9cf;
   border: 1px solid #333;
   width: 300px;
   height: 30px;
   margin: 4em auto;
}

div:first-of-type {
   transition: width 5s;  /*odnosi se na širinu i traje 2s - izvršava se kad se pravilo promijeni - tj. potrebno je 5s da se promijeni širina - kad nema ovog pravila, element odmah mijenja širinu*/
}
div:first-of-type:hover {
   width: 800px;
}

div:nth-of-type(2):hover {
   background-color: #ff0;
   transition: background-color 5s;   /*kad se dođe mišem iznad boja se polako mijenja u žutu*/
}

div:first-of-type:hover {
   width: 800px;
}

div:nth-of-type(4):hover {
   transform: rotate(90deg);
   transition: transform 8s;
}

div:nth-of-type(5):hover {
   background-color: red;   
   transform: scale(1.2,2) skew(10deg, 5deg);
   transition: transform 8s, background-color 15s;
}

div:nth-of-type(6):hover {
   opacity: 0.2;
   transition: opacity 8s;
}
