body {
    font-family: "Source Code Pro", monospace;
    background-color: #141414;
    color: #F8F8F8;
    font-size: 16px;
}
header {
    background-color: greenyellow;
}
nav {
    background-color: #F2F2F2;
}
main {
    background-color: aquamarine;
}
footer {
    background-color: khaki;
}
h1 {
    background-color: #595959;
}
p{
    background-color: #595959;
}