body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin:0;
}

img{border:2px solid #999;
padding:20px;
margin:1em; /* objasniti kako se ponašaju margine susjednih elemenata (T i B preklapanje, L i R zbrajanje), naglasiti nemogućnost centriranja inline elemenata */
width:25%;}
