* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px dashed #666;
}

.wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
}

.flex-container {
    display: flex;
    /* justify-content: space-between; */
}

.flex-item {
    width: 150px;
    /* flex-basis: 18vw; */
    flex-grow: 0;
    flex-shrink: 1;
}

.flex-item:nth-child(3) {
    /* flex-grow: 2; */
    flex-shrink: 3;
}