* {
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1em;
}

.wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    /* flex-grow: 0;
    flex-basis: 32%; */
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
}

/* svi uredjaji sirine manje od 1024px */

@media (max-width:1023px) {
    .flex-item {
        flex: 0 49%;
    }
}

/* svi uredjaji sirine mannje od 480px (portrait mobiteli) */

@media (max-width:479px) {
    flex-item {
        flex: 0 100%;
    }
}