h1{
    background-color: #333;
    text-align: center;
}
body {
    background: url(fire.png) center 30%/18% no-repeat fixed,
                url(pattern.png),
                url(blossom.jpg) center center/cover no-repeat fixed;
    font-family: tahoma sans-serif;
    font-size: 16px;
    color: #ccc;
}