$white: #F7F1F1;
$gray: #3C3A3A;
$red: #A32727;
$black: #151414;

$font1: Tahoma, sans-serif;

body {
    font-family: $font1;
}
@mixin spacing($margin, $padding) {
    margin: $margin;
    padding: $padding;
}
@mixin theme-colors($light-theme: true) {
    @if $light-theme {
        background-color: $white;
        color: $gray;
    } @else {
        background-color: $black;
        color: $white;
    }
}


header, footer, article {
    @include spacing(1em, 2em);
    @include theme-colors(false);
}