body {
    font-family: Tahoma, sans-sarif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

/* .div1 {
    background-color: #eee;
    border: 20px solid #999;
    height: 800px;
    margin: 2em auto;
    width: 800px;
} */


/* .div3 {
    background: #69f;
    margin-left: auto;
    margin-right: 0;
    width: 400px;
    height: 400px;
} */

/* .div2 {
    background: #f66;
    width: 400px;
    height: 400px;
} */

/* Selektor (div) dijete od body */
body > div {
    background-color: #eee;
    border: 20px solid #999;
    height: 800px;
    margin: 2em auto;
    width: 800px;
}

div > div {
    width: 50%;
    height: 50%;
}

div > div:first-child {
    background-color: #f66;
}

div > div:last-child {
    background-color: #69f;
    margin-right: 0;
    margin-left: auto;
}