<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox-layout</title>
    <link rel="stylesheet" href="stil.css">
</head>
<body>
    <header>Zaglavlje</header>
    <main>
        <section>
            <article>1</article>
            <article>2</article>
            <article>3</article>
            <article>4</article>
            <article>5</article>
            <article>6</article>
            <article>7</article>
            <article>8</article>
        </section>
        <aside>
            Sporedni sadržaj
        </aside>
    </main>
    <Footer>Podnožje</Footer>
</body>
</html>