@mixin flex {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 10px;
 
 }

 @mixin sunce {
    display: inline-block;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    box-shadow: 0 0 30px $color1;
    }

