* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px #666 dashed;
  padding: 1em;
  height: 600px;
}

.wrapper div {
  background-color: #eee;
  border: 1px solid #666;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: flex-end;
}

.flex-item {
  flex-grow: 1;
}

.flex-item:nth-child(3) {
  align-items: flex-end;
}

.flex-item {
  flex-grow: 0;
  flex-basis: 32%;
  width: 24%;
}

.flex-item:nth-child(4n + 1) {
  flex-basis: 100%;
}
