#input{
    display:flex;
    flex-direction: column;
    gap: .25rem;
}
input{
    font-size: 1rem;
}
#results{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap:.25rem;
    margin-top: 1rem;
}
.kartica{
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: .5rem;
}
.kartica >.Song-name{
    margin-bottom:  .25rem;
    color: #2e2d2d;
    border-bottom: black dashed 1px;
}
.kartica > .Artist-name{
    color: black;
    font-size: .8rem;
    
}

.kartica >.Album-name{
    font-size: .8rem;
    color: #777;
}

.hidden{
    display: none;
}
.eror{
    color: red;
}
#audio{
    display: block;
    height: 30px;
    width: 125px;
}