* {
  box-sizing: border-box;
}

div {
  background-color: #eee;
  border: 2px solid #333;
  text-align: center;
  padding: 1em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 200px;
}

.flex-item {
  flex-basis: 23%;
}
@media (max-width: 1023px) {
  .flex-item {
    flex-basis: 48%;
    margin-bottom: 1em;
  }
}
@media (max-width: 479px) {
  .flex-item {
    flex-basis: 100%;
  }
}