*{
  margin: 0;
  box-sizing: border-box;
}

body{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  border: 1px dashed #666;
  height: 600px;
}

.wrapper div{
  border: 1px solid #666;
  background-color: #eee;
  width: 150px;
  margin: 1em;
  text-align: center;
  padding: 1em;
}

.flex-container{
  display: flex;
  align-items: flex-end;
}
