*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    height:600px;
    width:600px;
    border:20px solid gray;
    margin:160px auto;
    background-color: #333;
}

.box1{
    height:50%;
    background-color:red;
    width:50%;
}
.box2{
    height:50%;
    background-color: #69f;
    margin-left:auto;
    margin-right:0;
    width:50%;
}