.aside {
  opacity: 0;
  background-color: var(--primary);
  opacity: 0.8;
  padding: 1rem;
  position: absolute;
  top: 112.5px;
  right: 0;
}

.aside.open {
  display: block;
  opacity: 1;
}

.aside ul {
  list-style-type: none;
  text-align: left;
}

.aside li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.aside a {
  color: var(--onPrimary);
  text-decoration: none;
}

.aside a:hover {
  color: var(--inversePrimary);
}

@media (min-width: 900px) {
  .aside {
    display: none;
  }
}
