* {
  margin: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 32px;
  margin-top: 36px;
}

#apple-logo {
  margin-top: 18px;
  height: 60px;
  padding-right: 4%;
}

#title-container {
  display: flex;
  justify-content: center;
  padding: 4vh;
}

#input {
  height: 3vh;
  width: 20vw;
  text-align: left;
  box-shadow: 1px 1px  #D3D3D3;
}

button {
  margin-top: 4px;
  margin-bottom: 40px;
}

hr {
  border: 2px solid #D3D3D3;
}

ul {
  list-style: none;
}

#loading-spinner {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 40px;
  display: none;
}
