body{
    font-family: tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}
div{
    background-color: #eee;
    text-align: justify;
}
.box1{
    border: 5px solid #666;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    padding: 2em;
    width: 300px;
}
.box2{
    border: 5px dashed #666;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 2em;
    margin-left: auto;
    padding-top: 2em;
    padding-right: 0;
    padding-bottom: 2em;
    padding-left: auto;
    width: 25%;
}
.box3{
    border: 8px double #666;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    width: 30em;
}
.box4{
    border-top: 4px dashed #666;
    border-bottom: 6px dotted #333;
    margin: auto;
    padding: auto;
    width: 80%;
}