body {
  background-color: #eee;
  color: #333;
  font-family: Tahoma, sans-serif;
}

header a {
  display: block;
  margin: 1em auto;
  text-align: center;
  background: #333;
  color: #eee;
  padding: 10px;
  width: 300px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #800;
  padding: 1em;
}
section article {
  background: #eee;
  flex-basis: 48%;
}
section article a {
  display: inline-block;
  margin: 1em 50px;
  text-align: right;
}

footer a {
  background-color: #333;
  color: #eee;
  padding: 10px;
  margin: 1em;
}
footer a:visited {
  background-color: #f93;
}
footer a:hover {
  background-color: #800;
}