$color1: #eee;
$color2: #333;
$color3: #800;

$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin theme-colors($light-theme:true) {
    @if $light-theme {
        background-color: $color1;
        color: $color2;
    }
    @else {
        background-color: $color2;
        color: $color1;
    }
}

@mixin spacing($margin, $padding){
    margin: $margin;
    padding: $padding;
}

body {
    font-family: $font1;
}

header, footer, article {
    @include theme-colors(false);
    @include spacing(1em, 2em);
}