* {
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(68, 69, 68);
}

.button-group{
  font-size: 0;
}

.button-group button {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
}

.button-group button:not(:last-child){
  border-right: none;
}

.button-group button:disabled {
  color: rgb(204, 207, 204);
  background-color: rgb(68, 69, 68);
}

.button-group button:not(:disabled){
  cursor: pointer;

}

.button-group button:not(:disabled):hover{
  background-color: rgb(173, 175, 173);
}

#section-todo{
  border: 1px solid rgb(68, 69, 68);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(173, 175, 173);
  width: 60%;
  margin: 50px auto 0px auto;
}

#input-add{
  width: 30%;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
  cursor: pointer;
}
#input-add:hover{
  background-color: rgb(173, 175, 173);
}

#section-input {
  display: flex;
}

#input-text{
  width: 70%;
  text-align: left;
  border:1px solid rgb(68, 69, 68);
}

#input-text.focus{
  outline: none;
}

#section-clear-completed{
  width: 60%;
  margin: auto;
}

#button-clear-completed {
  border: 0;
  color: rgb(68, 69, 68);
  background-color: white;
  margin-top: 20px;
  float: right;
}

#button-clear-completed:hover{
  font-weight: bold;
  cursor: pointer;
}

#section-todo ul{
  padding-left: 0;
}

.ul-todo li{
  list-style-type: none;
  font-weight: bold;
  color: rgb(68, 69, 68);
}

.li-container {
  display: flex;
  justify-content: space-between;
}

.li-container-int input {
  margin: 20px;
}

.removeButton {
  color: rgb(68, 69, 68);
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}