*{
    margin: 0;
    color: gray;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Consolas, sans-serif;
    background-color: bisque;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 4px;
}

header ul li a:hover{
    background-color: #333;
    color: white;
}