body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  /*   background-color: #ddd;
  background-image: url(butterfly.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%; */
  background-attachment: fixed;
  background: #ddd url(butterfly.png) center/25% no-repeat fixed;
}
