*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  min-height: 50vh;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  color: rgb(51, 51, 51);
}

.btn-wrapper {
  display: flex;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  border: 1px solid grey;
  overflow: hidden;
}

.btns {
  font-size: inherit;
  font-family: inherit;
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: rgb(211, 210, 210);
}
 
.btns {
  transition-duration: 0.5s;
}

.btns:hover {
  background-color: black;
  color: white;
}

.add-wrapper {
  display: inline-block;
  flex-direction:row;
}

input {
  width: 500px;
  height: 30px;
  color: #5c5c5c;
  padding: 0 24px;
  margin-right: 10px;
}
.btn-add {
  width: 200px;
  height: 30px;
  background-color: rgb(187, 186, 186);
  border: 1px solid black;
}

.btn-add {
  transition-duration: 0.5s;
}

.btn-add:hover{
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

.completed {
  border: none;
  margin-left: auto;
}
