* {
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px dashed #666;
    padding: 1em;
    height: 600px;
}
.wrapper div {
    background-color: #eee;
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
    text-align: center;
    width: 300px;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-grow: 1;
}

.flex-item:nth-child(3) {
    align-self: flex-end;
}