@import "abstracts/_mixins";
@import "base/_colors";
@import "base/_reset";
.flex-container {
  @include flex-container;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-image: url(./img/back.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  bottom: 0;
  text-align: center;
  margin-top: 60%;
}
#text {
  color: $color2;
  font-family: sans-serif;
  font-size: 20px;

}
.oblaci {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 8%;
}

.oblak img {
  width: 100%;
  height: 100%;
}
//#sunce{

//border-radius: 50%;
//height: 300px;
// width: 300px;
// background-color: $color1;
// box-shadow: 0 0 30px $color3;
//
//}
#sunce {
  @include sunce(50%, 250px, 250px);
  background-color: $color1;
  box-shadow: 0 0 30px $color3;
  position: relative;
  background-position: center;
  justify-content: center;
  text-align: center;
  margin-left: 42%;
  margin-top: 3%;
}

@media (max-width: 767px) {
  #o2 {
    margin-top: 15%;
  }
  #o1,#o3{
    margin-bottom:15%;
  }
.oblak img{
    width: 90%;
  }
.oblak img{
    height: 90%;
  }

}
@media (max-width: 479px) {
  #o1{
    display:none;
  }
  #o3 {
    display: none;
  }
.oblak img{
    width: 60%;
  }
.oblak img{
    height: 60%;
  }
}

@keyframes animoblak {
  0% {
    transform: trasnlateY(0%);
  }
  25% {
    transform: transalteY(15%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-35%);
  }
  100% {
    transform: translateY(0%);
  }
}
.oblak:first-of-type {
  animation: animoblak 3.9s linear 1.1s infinite;
}
.oblak:nth-of-type(2) {
  animation: animoblak 3.9s linear 1.1s infinite;
}
.oblak:last-of-type {
  animation: animoblak 3.9s linear 1.1s infinite;
}
@keyframes animsunce {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(2);
  }
  100% {
    transform: scaleX(1);
  }
}
#sunce {
  animation: animsunce 3.6s linear;
}