body {
   font-family: 'Tahoma', sans-serif;
   font-size: 16px;
   color: #333;
   background-color: #ddd;
   background-image: url(butterfly.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: 25%;

  
 /* alternativni zapis: background: #ddd url(butterfly.png) center center/25% no-repeat fixed; */
}
