body{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;

}
div{
  background-color: #eee;
  text-align: justify;
}
.prvidiv{
  border: 5px solid #666;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 300px;
}
.drugidiv{
  border: 5px dashed #666;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: 0;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 25%;
}
.trecidiv{
  border-right: 8px double #666;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: auto;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left:  50px;
  width: 30em;
}
.cetvrtidiv{
  border-top: 4px dashed #666;
  border-bottom: 6px dotted #333;
  margin: auto;
  padding: 10px;
  width: 80%;
}