*{
  margin: 0;
  box-sizing: border-box;
}
body{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  padding: 1em;
  border: 1px dashed #666;
  min-height: 100vh;
  
}
.wrapper div{

  border: 1px solid #666;
  background-color: #eee; 
  padding: 1em;
  text-align: center;
  
}
.flex-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-item {
  -ms-flex-preferred-size: 18%;
  flex-basis: 9vw;
}


