* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  border: 1px dashed #666;
  padding: 1em;
  height: 600px;
}
.wrapper div {
  background-color: #eee;
  border: 1px solid #666;
  padding: 1em;
  /* margin: 1em; */
  text-align: center;
  /* width: 300px; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-betweens;
  }
  .flex-item{
    flex-grow: 0;
    flex-basis: 32%;
    width: 24%;
  }
  .flex-item:nth-child(4n+1){
    flex-basis: 100%;
  }

