body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333
}
h1{
  text-align: center;
}
p{
  background-color: #f93;
}
em{
  background-color: #ccf;
}
.block{
  display: block;
}

.inline{
  display: inline;
  height: 100px;
}
.inline-block{
  display: inline-block;
  
}
.box {
  
  width: 300px;
  height: 100px;
  margin: 20px;
}
.none{
  display: none;
}
