$color1: #eee;
$color2: #333;
$color3: #800;

$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

body {
  background-color: $color1;
  color: $color2;
  font-family: $font1;
  margin: 0;
}

header, footer {
  background-color: $color2;
  color: $color1;

}

header {
  text-align: center;
  h1 {
    color: $color3;
  }
  a {
    color: #ff6;
  }
  p {
    font-size: 20px;
  }
}

section {
  h1 {
    font-family: $font2;
  }
  p {
    text-align: justify;
  }
  a {
    color: $color3;
  }
  article {
    background-color: $color3;
    p {
      color: $color1;
    }
    a {
      color: #fff;
    }
  }
}

footer {
  h1 {
    color: #ff6;
  }
  p {
    font-size: 12px;
  }
  a {
    font-size: 20px;
    color: #0f0;
  }
}
