*{
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 12px;
    list-style: none;
    background-color: #f8f7f7;
}

body {
 text-align: center;
}

h1 {
    color: #8d8d8d;
    font-weight: 400;
    letter-spacing: .2rem;
    font-size: 4em;
    margin-top: 10%;
    padding: 0.5em;
}

.button {
    display: inline;
    width: auto;
    margin: 0px;
    background-color: white;
    height: 2em;
    font-size: 0.8em;
    border: none;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: min-content;
    border-radius: 3px;
    border: 1px solid #474c52;
    margin-bottom: 3%;
}

#all, #active {
    border-right: 1px solid #474c52;
    ;
}

.button:active, .button:hover, .button:focus{
    color: white;
    background-color: #474c52;
}

.todo {
    width: 30%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
    padding: 1%; 
    border: none;
    width: 100%;
    color: #474c52;

}

.input:focus {
    outline: none;
}

.addButton {
    border: lightgray 1px solid;
    border-radius: 4px;
    color: #474c52;
    padding: 3%;
}

.inputLine {
    display: flex;
    justify-content: space-between;
    border: lightgray 1px solid;
    border-radius: 4px;
    padding-left: 1%;
}

.listContainer {
    text-align: left;
    list-style: none;
}

.todoList {
    padding: 0;
}

.listItem {
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.checkItem {
    display: flex;
    width: 70%;
}

.item {
    padding-left: 5%;
    font-size: 0.9em;
    line-height: 2.2vw;
}
  
.close {
    border: none;
    color: #474c52;
}

.close:hover {
    color: black;
}

.done {
    text-decoration: line-through;
}

.completed {
    border: none;
    margin-top: 2%;
    margin-left: 20%;
}

.completed p {
    font-size: 0.7em;
    color: #474c52;
}

.completed:hover, .completed:focus {
    color: black;
}