@mixin flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
$breakpoint ("small":480px, "medium":768px, "large":1024px, "x-large":1200px);

@mixinmq($width, $type: min){

}